<form id="login" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ path('auth_login') }}" method="post">
	<div class="mb-4">
		<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
			Email
		</label>
		<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="login__username" name="_username" value="{{ last_username ?? null }}" placeholder="Email">
	</div>
	<div class="mb-6">
		<div {{ vue_component('PasswordField', { 'id': "login__password", 'name': "_password", 'label': 'Password' } ) }}></div>
	</div>
	<div class="mb-4 flex items-center justify-between">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
			Sign In
		</button>
		<a href="{{ absolute_url(path('auth_forgot')) }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
			Forgot Password
		</a>
	</div>
	<p class="text-center text-gray-500 text-xs">
		<a href="{{ absolute_url(path('auth_register')) }}" class="inline-block align-baseline text-sm text-blue-500 hover:text-blue-800">
			Don't have an account? Sign up here.
		</a>
	</p>
</form>
